.notes-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
}

.notes-list__item {
  border-top: 1px solid var(--color-stroke);
  transition: border-color var(--transition-time);

  &:hover,
  &:hover + & {
    border-top-color: transparent;
  }

  &:has(.active),
  &:has(.active) + & {
    border-top-color: transparent;
  }

  &:first-child {
    border-top: none;
  }
}
