.button {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: var(--font-size-text);
  padding: 12px 16px;
  border-radius: 0.5rem;
  gap: 8px;
  transition: background-color var(--transition-time);

  --button-background-color: var(--color-primary);
  --button-text-color: white;

  background-color: var(--button-background-color);
  color: var(--button-text-color);

  cursor: pointer;

  &:disabled {
    cursor: none;
    pointer-events: none;
  }
}

.button_default {
  &:disabled {
    --button-background-color: var(--color-card-hover);
    --button-text-color: var(--color-input-border);
    border-color: transparent;
  }
}

.button_primary {
  --button-background-color: var(--color-primary);
  --button-text-color: white;

  &:hover {
    --button-background-color: var(--color-primary-hover);
  }
}

.button_secondary {
  border: 1px solid var(--color-stroke);
  --button-background-color: var(--color-stroke);
  --button-text-color: var(--color-text-secondary);

  &:hover {
    --button-background-color: var(--color-background);
  }
}

.button_warning {
  --button-background-color: var(--color-warning);
  --button-text-color: white;

  &:hover {
    --button-background-color: var(--color-warning-hover);
  }
}

.button_outlined {
  justify-content: start;
  border: 1px solid var(--color-input-border);
  --button-background-color: transparent;
  --button-text-color: var(--color-text-primary);

  &:hover {
    border-color: transparent;
    --button-background-color: var(--color-card-hover);
    --button-text-color: var(--color-text-secondary);
  }
}
