.note-page {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-page__header {
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 140px auto;
  gap: 16px 8px;
  border-bottom: 1px solid var(--color-stroke);

  & > *:first-child {
    grid-column: 1/-1;
  }
}

.note-page__body {
  padding-block: 16px;
  flex-grow: 1;
  border-bottom: 1px solid var(--color-stroke);
}

.note-page__footer {
  padding-top: 16px;
  display: flex;
  gap: 16px;

  > button {
    flex-grow: 1;
  }
}
