.sidebar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--color-stroke);
  transition: border-color var(--transition-time);
}

.sidebar__logo-container {
  margin-bottom: 28px;
  color: var(--color-text-primary);
  transition: color var(--transition-time);
}

.sidebar__header {
  padding-block: 24px 8px;
  margin-inline: 16px;
  border-bottom: 1px solid var(--color-stroke);
  transition: border-color var(--transition-time);
}