.input {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--color-input-border);
  padding: 8px 16px;
  gap: 8px;
  transition: background-color var(--transition-time),
    border-color var(--transition-time);

  &:focus-within {
    border-color: var(--color-primary);
  }

  &:has(.input__icon) {
    padding-left: 8px;
  }
}

.input__field {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: var(--font-size-text);

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}

.input__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  aspect-ratio: 1;
  color: var(--color-text-light);

  cursor: pointer;
}
