.header {
  padding-inline: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-stroke);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__search {
  min-width: 300px;
}
