.list-card {
  color: var(--color-text-secondary);
  transition: all var(--transition-time);

  &.active {
    color: var(--color-primary);
  }
}

.list-card__chevron {
  line-height: 0;
  flex-grow: 1;
  text-align: end;
}
