.note-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  transition: background-color var(--transition-time);

  &:hover {
    background-color: var(--color-card-hover);
  }
}

.note-card_active {
  background-color: var(--color-card-active);
}
